/* ihana väri, ota talteen: #89F0FF
   punainen väri: #f51325
*/

/* nyt header ja footer ei ole responsiivisia */

header {
	padding-top: 5em;
	padding-left: 10em;
	padding-bottom: 5em;
	display: flex;
}

header a {
	color: #000000;	
}

#pagetitle {
	font-size: 50px;
	/*border: 5px solid #000000;
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
    padding: 1em; */
}

a {
	text-decoration: none;
}

nav ul {
	display: flex;
	margin-left: 10rem;
}

nav li {
    /*width: 120px; */
	list-style: none;
	padding-left: 5rem;
	font-size: 30px;
		
}

main {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    color: #555;
}

h1, h2, h3,h4 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

footer {
    width: 50em;
    /* background-color: #89F0FF; */
	display: flex;
	margin-top: 2em;
    
}

footer p {
    margin: 2px;
    padding-left: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    
}

.box {
    border: 10px solid #89F0FF;
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
    margin-top: 1em;
    padding-left: 1em;
	
}


