#mainMenu {
    list-style: none;
    font-family: sans-serif;
}

#mainMenu li {
    width: 120px;
    float: left;
    margin-left: 2px;
    ;
}


main {
    color: black;
    display: block;
    padding-top: 50px;
    padding-left: 20em;
    padding-right: 20em;
}