/* ihana väri, ota talteen: #89F0FF
   punainen väri: #f51325
*/

header {
	padding: 2em;
	text-align: center;
	font-size: 30px;
	display: flex;
}

header a, footer a{
	color: #000000;
	
}

a {
	text-decoration: none;
}

#mainMenu {
    list-style: none;
    
}

#mainMenu li {
    width: 120px;
    float: left;
    margin-left: 2px;
}

main {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    color: #555;
}

h1, h2, h3,h4 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

footer {
    width: 50em;
    /* background-color: #89F0FF; */
	display: flex;
	margin-top: 2em;
    
}

footer p {
    margin: 2px;
    padding-left: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    
}

.box {
    border: 10px solid #f51325;
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
    margin-top: 1em;
    padding-left: 1em;
	
}


