#mainMenu {
    list-style: none;
    
}

#mainMenu li {
    width: 120px;
    float: left;
    margin-left: 2px;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h1, h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em; 
    text-align: center;
    /* background-color: #89F0FF; */
    
}

footer p {
    float: left;
    margin: 2px;
    width: 300px;
}

.box {
    border: 10px solid #89F0FF;
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
    margin-top: 1em;
    padding-left: 1em;
}
